<html>
  <body>
    <ul>
      <!-- Create an <li> element for each user in users -->
      <% users.forEach((user) => { %>
        <li><%= user.name %></li>
      <% }); %>
    </ul>
  </body>
</html>